pkgbase = nt
	pkgdesc = Git worktrees, minus the ceremony
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/allisonmahmood/NT
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	depends = git
	options = !debug
	source = nt-0.1.1.tar.gz::https://github.com/allisonmahmood/NT/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = f95d916c900811ca13f480b74e4eb9c137f30168453ef5862052ddb5b81f11e4

pkgname = nt
