pkgbase = nt-bin
	pkgdesc = Git worktrees, minus the ceremony (prebuilt binary)
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/allisonmahmood/NT
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = git
	provides = nt=0.1.1
	conflicts = nt
	noextract = nt_0.1.1_linux_amd64.tar.gz
	noextract = nt_0.1.1_linux_arm64.tar.gz
	options = !strip
	options = !debug
	source = https://github.com/allisonmahmood/NT/releases/download/v0.1.1/checksums.txt
	sha256sums = d7f38cbce32f981d0bd96e599dfa2f96a64d49bac0bf8d903f0ec1d1530afbac
	source_x86_64 = https://github.com/allisonmahmood/NT/releases/download/v0.1.1/nt_0.1.1_linux_amd64.tar.gz
	sha256sums_x86_64 = 7cf64cc8907d33dd01e13de3d07df6bfcaccd529978e238384c27f2a80cccb60
	source_aarch64 = https://github.com/allisonmahmood/NT/releases/download/v0.1.1/nt_0.1.1_linux_arm64.tar.gz
	sha256sums_aarch64 = 6103a5656563ab2ce04ee170cf608b7878f2a795294e252e245ceaf311c64976

pkgname = nt-bin
